*{
    margin:0;
    padding:0;
}
.wrap{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}

.milieu{
    margin-top: 15px;
    width:400px;
}

.barre{
    display: flex;
    justify-content: space-between;
}
.result{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}